<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title>🍽️Restaurant Apps Starter Project</title>
</head>
<body>
  <a href="#content" class="skip-link">Skip to content ?</a>
  <!--Mobile Navbar-->
  <div class="menuMob">
    <div class="iconMenu" id="menu"><a href="#">&#9776;</a></div>
    <div class="logoMob">Mommy Kitchen</div>
    <div class="logoMob">&nbsp;</div>
  </div>
  <nav id="drawer" class="navMob">
    <ul class="navListMob">
      <li class="navItemsMob"><a href="">Home</a></li>
      <li class="navItemsMob"><a href="#">Favorite</a></li>
      <li class="navItemsMob"><a target="_blank" href="https://www.linkedin.com/in/rusma-irawati-18160414a/" rel="noopener">About Us</a></li>
    </ul>
  </nav>
  <!--Dekstop Navbar-->
  <nav class="nav">
    <a class="logo" href="">Mommy Kitchen</a>
    <ul class="navList">
      <li class="navItems"><a href="">Home</a></li>
      <li class="navItems"><a href="#">Favorite</a></li>
      <li class="navItems"><a target="_blank" href="https://www.linkedin.com/in/rusma-irawati-18160414a/" rel="noopener">About Us</a></li>
    </ul>
  </nav>
  <!--Jumbotron-->
  <div class="hero">
  <div class="heroInner">
    <h1 class="heroTitle">Mommy Kitchen</h1>
    <p class="heroSubtitle">🍽️Find the best restaurants in all of Indonesia👩‍🍳.</p>
  </div>
  </div>
  <!--Content-->
  <main id="content" tabindex="0">
    <section class="content">
      <div class="latest">
        <h1>Explore Restaurant</h1>
        <div class="list" id="rest"></div>
      </div>
    </section>
  </main>
  <!--Footer-->
  <footer>
    <p>Copyright &copy 2023 - Mommy Kitchen</p>
  </footer>
</body>
</html>
